{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section class="hero-section">
        <h1>Bienvenue sur BiblioECF!</h1>
        <p>Découvrez une vaste collection de livres et réservez des salles pour vos événements.</p>
        {% if not is_granted('ROLE_USER') %}
            <a href="{{ path('app_register') }}" class="cta-button">S'inscrire</a>
        {% endif %}
    </section>


    <section class="section">
        <h2>Nos Services</h2>
        <div class="features">
            <div class="feature">
                <i class="fas fa-book"></i>
                <h3>Emprunt de livres</h3>
                <p>Accédez à une large sélection de livres pour tous les goûts et toutes les catégories.</p>
            </div>
            <div class="feature">
                <i class="fas fa-calendar-alt"></i>
                <h3>Réservation de salles</h3>
                <p>Réservez des salles pour vos réunions, lectures ou événements associatifs.</p>
            </div>
            <div class="feature">
                <i class="fas fa-users"></i>
                <h3>Activités Associatives</h3>
                <p>Participez à nos activités communautaires, que ce soit pour des clubs de lecture ou des événements collaboratifs.</p>
            </div>
        </div>
    </section>

    <section class="section">
        <h2>Pourquoi s'abonner ?</h2>
        <p>En vous abonnant à BiblioECF, vous aurez accès à l'emprunt des livres de notre catalogue, des salles de réunion, et vous soutiendrez notre mission d'encourager la lecture et l'apprentissage collectif.</p>
        {% if not is_granted('ROLE_ABONNE') %}
            <a href="{{ path('abonnement_page') }}" class="cta-button">Abonnez-vous dès maintenant</a>
        {% endif %}
    </section>

    <section class="section" style="background: #f4f4f4;">
        <h2>Ce que nos membres disent</h2>
        <div class="comments">
            {% for comment in commentaires %}
                <div class="comment">
                    <div class="comment-header">
                        {% if comment.livre %}
                            <img src="{{ asset('uploads/images/' ~ comment.livre.image) }}" alt="{{ comment.livre.titre }}" class="book-image">
                            <p><strong>{{ comment.livre.titre }}</strong></p>
                        {% endif %}
                        <div class="comment-user">
                            <p><em>{{ comment.createdAt|date('d M Y') }}</em></p>
                            {% if comment.user.avatar %}
                                <img src="{{ asset('uploads/avatars/' ~ app.user.avatar) }}" 
                                alt="Avatar de {{ app.user.prenom }}" 
                                class="img-thumbnail rounded-circle"
                                style="width: 50px; height: 50px; object-fit: cover; cursor: pointer;" />
                            {% endif %}
                            <p><strong>{{ comment.user.fullName }}</strong></p>
                        </div>
                    </div>
                    <div class="comment-content">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>

{% endblock %}
