{% extends 'base.html.twig' %}

{% block title %}Détail du Livre{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4">{{ livre.titre }}</h1>
    <div class="row g-4">
        <div class="col-md-6">
            <img src="{{ asset('uploads/images/' ~ livre.image) }}" class="img-fluid" alt="Image de {{ livre.titre }}">
        </div>
        <div class="col-md-6">
            <h5><strong>Auteur :</strong> {{ livre.auteur }}</h5>
            <p><strong>Résumé :</strong> {{ livre.resume }}</p>
            <p><strong>Publié en :</strong> {{ livre.anneePublication }}</p>
            <a href="{{ path('catalogue_index') }}" class="btn btn-secondary mt-3">Revenir au catalogue</a>
        </div>
    </div>
</div>
{% endblock %}
